/* ============================================================
   YouTube AMOLED Mode
   Platforms: youtube.com (Desktop) | m.youtube.com (Mobile)
   Description: AMOLED Mode with Red YouTube Header
   Compatible: Browsers (Desktop), WebView (Mobile) + NouTube
   Version: 20260424
   Developer: NIGHTZNERO (NZN)
============================================================ */

/* Background */
body,
ytm-app,
#content {
  background-color: #000000 !important;
}

/* Movies cards */
ytm-rich-item-renderer,
ytm-video-renderer,
ytm-compact-video-renderer {
  background-color: #000000 !important;
}

/* Header */
ytm-top-bar-title-renderer,
#header {
  background-color: #FF0033 !important;
}
